version: '3.8'

services:
  identity-api:
    image: identity-service
    build:
      context: .
      dockerfile: Identity.API/Dockerfile
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - ConnectionStrings__Default=Server=sqlserver;Database=PDSIdentity;User Id=sa;Password=YourStrong!Password123;TrustServerCertificate=True;
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
    depends_on:
      - sqlserver

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong!Password123
    ports:
      - "1433:1433"
